/**
 * Copyright 2023 | My E-commerce Website 
**/

:root {
    --bg-color: #738678;
    --bg-color2: #867381;

    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);

    /*** typography */
    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;

    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;

    /*** border-radius */
    --border-radius-md: 10px;
    --border-radius-sm: 5px;

    /*** transition */
    --transition-timing: 0.2s ease;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { overscroll-behavior: contain; }

body {
    font-family: "Poppins", sans-serif;
    background: var(--white);
}

header {
    background-color: var(--eerie-black);
    color: var(--white);
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* styles for screens smaller than 768px */
@media screen and (max-width: 767px) {
    header {
        font-size: 24px;
    }

    nav {
        flex-wrap: wrap;
    }
}

/* styles for screens between 768px and 1024px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        font-size: 28px;
    }

    nav {
        padding: 20px;
    }
}

/* styles for screens larger than 1024px */
@media screen and (min-width: 1024px) {
    header {
        font-size: 32px;
    }

    nav {
        padding: 30px;
    }
}

.navbar-nav {
    width: 100%;
    text-align: center;
    padding-left: 330px;
}

.navbar-nav li:hover > a {
    color: var(--bg-color2);
    background-color: var(--bg-color);
}

.nav-item {
    margin-right: 10px;
}

.nav-item:last-child {
    margin-right: 0;
}

/* For screens smaller than 768px */
@media (max-width: 767px) {
    .navbar-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0;
    }

    .nav-item {
        margin: 10px 5px;
    }
}

.hero {
    background-image: url('img/hero/bghero.png');
    background-position: center;
    background-size: 40vh;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero2 {
    background-image: url('img/hero/1.png');
    background-position: center;
    /*background-size: 40vh;*/
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    color: #fff;
    text-align: center;
}

.products {
    display: grid;
    /*grid-template-columns: repeat(4, 1fr);*/
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 20px;
    padding: 20px;
}

.product {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
}

.product img {
    max-width: 100%;
}

.container {
    padding-top: 2.5rem;
}

.banner-text { display: none; }

@media (min-width: 480px) {
    :root {
        --fs-1: 1.875rem;   
    }

    .banner-text {
        display: block;
        color: var(--white);
        font-size: var(--fs-7);
        font-weight: var(--weight-500);
        margin-bottom: 10px;
    }

    .banner-text b { font-size: var(--fs-2); }
}

@media (min-width: 768px) {
    :root {
        --fs-1: 2.375rem;
    }

    html { font-size: 17px; }

    .banner-text { --fs-7: 1.125rem; }

    .banner-text b { --fs-2: 1.875rem; }
}

@media (min-width: 1024px) {
    :root {
        --fs-1: 2.625rem;
        --fs-2: 1.125rem;
    }

    .banner-text { --fs-7: 1.375rem; }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bg-color2);
}

footer {
    font-size: 0.9rem;
}

footer p {
    margin-bottom: 0;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer li {
    display: inline-block;
    margin-right: 10px;
}

footer a {
    color: #666;
}

footer a:hover {
    color: #000;
    text-decoration: none;
}
